*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;

        }

body{
    background-color:#1A0B2E;
}

header{
    background-color: #1A0B2E;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
header nav ul{
    display: flex;
    list-style: none;
    gap:32px;

}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.logo img{
    width: 219px;
    height: 32px;
}

.btn{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    font-size: 1rem;
    color: white;
    padding: .75rem 1rem;
    border-radius: 10000px;
    font-weight: 600;
}

.banner{
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    margin: 1px auto;
    border-top: 1px solid #412567 ;

}
.banner .circle{
    display: grid;
    place-items: center;
    margin-top: 101px;

}
.banner .circle img{
    grid-area: 1/1;
}

.badge{
    position: absolute;
    top: 230px;
    right: 648px;
    font-size: 1.2rem;
    font-weight: 600 ;
    background-color: #00FF88 ;
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5) ;
}

.banner-title{
    margin-top: 40px;
    text-align: center;
}


.banner-title h1{
    font-size: 4rem;
    color: white;
    text-align: center;
    font-weight: 800;
}

.banner-title p{
    font-size: 1rem;
    color: white;
    text-align: center;


}

#subscribe-btn{
    color: #00FF88;
    background: transparent;
    border: 1px solid #00FF88 ;
    border-radius: 1000px;
    padding: .75rem 1.25rem;
    margin-left: .5rem;
    font-size: 1rem;
    font-weight: 600;

}

.banner-btn{
    margin-top: 1.5rem;
    padding-bottom: 6.31rem;

}


#about-section{
    background-color: #1A0B2E;
    margin:0 auto;

}

.about-description h1{
    font-size: 3rem;
    text-align: center;


}
.about-description p{
    text-align: center;
    line-height: 2;
}
.about-description{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 3rem;


}
.new-line{
    display: block;
}
hr{
    max-width: 1200px;
    margin: 0 auto;
    color:  #412567;
}

.rating h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 800;

}
.rating p{
    color:  white;
}

.rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
    padding: 5rem;

}

#choose{
    background-color: #230E3D;
}

.choose-heading{
    color: white;
    text-align: center;
    padding-top: 7rem;
}
.boxs h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.boxs p{
    line-height: 2;
}
.audio{
    grid-area: audio;

    max-width: 380px;


    background-color: #351165;
    border-radius: 40px;

    padding-top:6.68rem ;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 6.68rem;
}
.audio p{
    /*width: 100%;*/
}


.mobile{
    grid-area: mobile;
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}
.interviews{
    grid-area: interviews;
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
    width: 790px;

}
.interviews img{
    height: 60px;
    width: 60px;
}
.global{
    grid-area: global;
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}
.rich{
    grid-area: rich;
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}

.boxs{

    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding-top: 40px;
    padding-bottom: 120px;

    gap: 2rem;
    grid-template-areas:

    "audio mobile mobile"
    "audio global global"
    "interviews interviews rich"
;
}

.boxs h3{
    font-size: 1.5rem;
}




