*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;

        }

body{
    background-color: #230E3D;
}

header{
    background-color: #1A0B2E;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
header nav ul{
    display: flex;
    list-style: none;
    gap:32px;

}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.logo img{
    width: 219px;
    height: 32px;
}

.btn{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    font-size: 1rem;
    color: white;
    padding: .75rem 1rem;
    border-radius: 10000px;
    font-weight: 600;
}

.banner{
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1px auto;
    border-top: 1px solid #412567 ;

}
.banner .circle{
    display: grid;
    place-items: center;
    margin-top: 101px;

}
.banner .circle img{
    grid-area: 1/1;
}

.badge{
    position: absolute;
    top: 230px;
    right: 648px;
    font-size: 1.2rem;
    font-weight: 600 ;
    background-color: #00FF88 ;
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5) ;
}



